
.fitnes{
    
    width: 100%;
    height: 300px;
    background-color: #fff;
   display: flex;
}

.fitnes ul li{
    margin-left: 10px;
    list-style: none;
    color: rgb(114, 105, 105);
    font-size: 20px;
    cursor: pointer;
}
.fitnes ul li:hover{
    background-color: rgb(201, 189, 189);
    color: black;
}

.sobni-bicikli{
    width: 20%;
    margin-left: 20px;
    border-left: 0.5px solid rgba(97, 91, 91, 0.849);
    border-right: 0.5px solid rgba(97, 91, 91, 0.849) ;
}
.sobni-bicikli,.sprave ul li{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}

.sprave{
    width: 20%;
    border-right: 0.5px solid rgba(97, 91, 91, 0.849) ;
}

.fitnes-slike{
    margin-left: 100px;
    width: 40%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  }
  .fitnes-slika1{
      width: 48%;
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("https://planetbike.rs/media/megamenu/fitnes-servis.jpg");
  }
  .fitnes-slika1:hover{
      width: 49%;
      height: 51%;
  }
  .fitnes-slika2{
      width: 48%;
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("https://planetbike.rs/media/megamenu/tegovi.jpg");
  }
  
  .fitnes-slika2:hover{
      width: 49%;
      height: 51%;
  }
  